a {
    text-decoration: none;
    color: #A4161A
}

a:hover {
    color: #660708;
}

a:visited {
    color: #BA181B
}

body {
    margin: 0;
    padding: 0;
    font-family: "Dosis";
}

footer {
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-color: #B1A7A6;
    font-size: medium;
}

header {
    background-color: #161A1D;
    border-bottom: 1px #B1A7A6;
    padding: 30px;
}

h1 {
    color: #E5383B;
}

img {
    height: 200px;
}

main {
    padding: 50px;
}
